<div>
    <h2 id="page-heading">
        <span jhiTranslate="foodplanerApp.recipe.home.title">Recipes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recipe" [routerLink]="['/recipe/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="foodplanerApp.recipe.home.createLabel">
            Create a new Recipe
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="recipes?.length === 0">
        <span jhiTranslate="foodplanerApp.recipe.home.notFound">No recipes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="recipes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="foodplanerApp.recipe.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="foodplanerApp.recipe.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ratingFlavor"><span jhiTranslate="foodplanerApp.recipe.ratingFlavor">Rating Flavor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ratingHealthy"><span jhiTranslate="foodplanerApp.recipe.ratingHealthy">Rating Healthy</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recipeGroup.name"><span jhiTranslate="foodplanerApp.recipe.recipeGroup">Recipe Group</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let recipe of recipes ;trackBy: trackId">
                    <td><a [routerLink]="['/recipe', recipe.id, 'view']">{{ recipe.id }}</a></td>
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.description }}</td>
                    <td>{{ recipe.ratingFlavor }}</td>
                    <td>{{ recipe.ratingHealthy }}</td>
                    <td>
                        <div *ngIf="recipe.recipeGroup">
                            <a [routerLink]="['/recipe-group', recipe.recipeGroup?.id, 'view']" >{{ recipe.recipeGroup?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/recipe', recipe.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/recipe', recipe.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(recipe)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
