<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-recipe-heading" jhiTranslate="foodplanerApp.recipe.home.createOrEditLabel">Create or edit a Recipe</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.recipe.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.recipe.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.recipe.ratingFlavor" for="field_ratingFlavor">Rating Flavor</label>
                    <input type="number" class="form-control" name="ratingFlavor" id="field_ratingFlavor"
                           formControlName="ratingFlavor"/>
                    <div *ngIf="editForm.get('ratingFlavor')!.invalid && (editForm.get('ratingFlavor')!.dirty || editForm.get('ratingFlavor')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ratingFlavor')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ratingFlavor')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ratingFlavor')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 5.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('ratingFlavor')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.recipe.ratingHealthy" for="field_ratingHealthy">Rating Healthy</label>
                    <input type="number" class="form-control" name="ratingHealthy" id="field_ratingHealthy"
                           formControlName="ratingHealthy"/>
                    <div *ngIf="editForm.get('ratingHealthy')!.invalid && (editForm.get('ratingHealthy')!.dirty || editForm.get('ratingHealthy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ratingHealthy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ratingHealthy')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ratingHealthy')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 5.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('ratingHealthy')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.recipe.recipeGroup" for="field_recipeGroup">Recipe Group</label>
                    <select class="form-control" id="field_recipeGroup" name="recipeGroup" formControlName="recipeGroup">
                        <option *ngIf="!editForm.get('recipeGroup')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="recipeGroupOption.id === editForm.get('recipeGroup')!.value?.id ? editForm.get('recipeGroup')!.value : recipeGroupOption" *ngFor="let recipeGroupOption of recipegroups; trackBy: trackById">{{ recipeGroupOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('recipeGroup')!.invalid && (editForm.get('recipeGroup')!.dirty || editForm.get('recipeGroup')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('recipeGroup')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
