<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recipe">
            <h2><span jhiTranslate="foodplanerApp.recipe.detail.title">Recipe</span> {{ recipe.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="foodplanerApp.recipe.name">Name</span></dt>
                <dd>
                    <span>{{ recipe.name }}</span>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.recipe.description">Description</span></dt>
                <dd>
                    <span>{{ recipe.description }}</span>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.recipe.ratingFlavor">Rating Flavor</span></dt>
                <dd>
                    <span>{{ recipe.ratingFlavor }}</span>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.recipe.ratingHealthy">Rating Healthy</span></dt>
                <dd>
                    <span>{{ recipe.ratingHealthy }}</span>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.recipe.recipeGroup">Recipe Group</span></dt>
                <dd>
                    <div *ngIf="recipe.recipeGroup">
                        <a [routerLink]="['/recipe-group', recipe.recipeGroup?.id, 'view']">{{ recipe.recipeGroup?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="global.menu.entities.ingredient">Ingredients</span></dt>
                <dd>
                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                            <tr ><!-- jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)"

                            <th ... jhiSortBy="name" jhiSortBy="description"  jhiSortBy="recipeGroup.name" <fa-icon icon="sort"></fa-icon>
                            -->
                                <th scope="col"><span jhiTranslate="foodplanerApp.recipeIngredient.recipeIngredientIngredient">Recipe Ingredient</span></th>
                                <th scope="col"><span jhiTranslate="foodplanerApp.recipeIngredient.quantity">Quantity</span></th>
                                <th scope="col"><span jhiTranslate="foodplanerApp.recipeIngredient.recipeIngredientUnit">Recipe Ingredient Unit</span></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let recipeIngredient of recipe.recipeIngredients ">
                                <td>{{ recipeIngredient.recipeIngredientIngredient.name }}</td>
                                <td>{{ recipeIngredient.quantity }}</td>
                                <td>
                                    {{ recipeIngredient.recipeIngredientUnit.name }}
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="submit"
                                                [routerLink]="['/recipe-ingredient', recipeIngredient.id, 'view']"
                                                class="btn btn-info btn-sm">
                                            <fa-icon icon="eye"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recipe', recipe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
