<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shopping-list-position-heading" jhiTranslate="foodplanerApp.shoppingListPosition.home.createOrEditLabel">Create or edit a Shopping List Position</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.shoppingListPosition.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                    <div *ngIf="editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantity')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quantity')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.shoppingListPosition.shoppingListPositionIngredient" for="field_shoppingListPositionIngredient">Shopping List Position Ingredient</label>
                    <select class="form-control" id="field_shoppingListPositionIngredient" name="shoppingListPositionIngredient" formControlName="shoppingListPositionIngredient">
                        <option *ngIf="!editForm.get('shoppingListPositionIngredient')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="ingredientOption.id === editForm.get('shoppingListPositionIngredient')!.value?.id ? editForm.get('shoppingListPositionIngredient')!.value : ingredientOption" *ngFor="let ingredientOption of ingredients; trackBy: trackById">{{ ingredientOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('shoppingListPositionIngredient')!.invalid && (editForm.get('shoppingListPositionIngredient')!.dirty || editForm.get('shoppingListPositionIngredient')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('shoppingListPositionIngredient')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.shoppingListPosition.shoppingListPositionUnit" for="field_shoppingListPositionUnit">Shopping List Position Unit</label>
                    <select class="form-control" id="field_shoppingListPositionUnit" name="shoppingListPositionUnit" formControlName="shoppingListPositionUnit">
                        <option *ngIf="!editForm.get('shoppingListPositionUnit')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="unitOption.id === editForm.get('shoppingListPositionUnit')!.value?.id ? editForm.get('shoppingListPositionUnit')!.value : unitOption" *ngFor="let unitOption of units; trackBy: trackById">{{ unitOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('shoppingListPositionUnit')!.invalid && (editForm.get('shoppingListPositionUnit')!.dirty || editForm.get('shoppingListPositionUnit')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('shoppingListPositionUnit')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.shoppingListPosition.shoppingList" for="field_shoppingList">Shopping List</label>
                    <select class="form-control" id="field_shoppingList" name="shoppingList" formControlName="shoppingList">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shoppingListOption.id === editForm.get('shoppingList')!.value?.id ? editForm.get('shoppingList')!.value : shoppingListOption" *ngFor="let shoppingListOption of shoppinglists; trackBy: trackById">{{ shoppingListOption.date }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
