<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingListPosition">
            <h2><span jhiTranslate="foodplanerApp.shoppingListPosition.detail.title">Shopping List Position</span> {{ shoppingListPosition.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="foodplanerApp.shoppingListPosition.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ shoppingListPosition.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.shoppingListPosition.shoppingListPositionIngredient">Shopping List Position Ingredient</span></dt>
                <dd>
                    <div *ngIf="shoppingListPosition.shoppingListPositionIngredient">
                        <a [routerLink]="['/ingredient', shoppingListPosition.shoppingListPositionIngredient?.id, 'view']">{{ shoppingListPosition.shoppingListPositionIngredient?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.shoppingListPosition.shoppingListPositionUnit">Shopping List Position Unit</span></dt>
                <dd>
                    <div *ngIf="shoppingListPosition.shoppingListPositionUnit">
                        <a [routerLink]="['/unit', shoppingListPosition.shoppingListPositionUnit?.id, 'view']">{{ shoppingListPosition.shoppingListPositionUnit?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.shoppingListPosition.shoppingList">Shopping List</span></dt>
                <dd>
                    <div *ngIf="shoppingListPosition.shoppingList">
                        <a [routerLink]="['/shopping-list', shoppingListPosition.shoppingList?.id, 'view']">{{ shoppingListPosition.shoppingList?.date | date:'mediumDate' }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-list-position', shoppingListPosition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
