<div>
    <h2 id="page-heading">
        <span jhiTranslate="foodplanerApp.shoppingListPosition.home.title">Shopping List Positions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-list-position" [routerLink]="['/shopping-list-position/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="foodplanerApp.shoppingListPosition.home.createLabel">
            Create a new Shopping List Position
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shoppingListPositions?.length === 0">
        <span jhiTranslate="foodplanerApp.shoppingListPosition.home.notFound">No shoppingListPositions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shoppingListPositions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="foodplanerApp.shoppingListPosition.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shoppingListPositionIngredient.name"><span jhiTranslate="foodplanerApp.shoppingListPosition.shoppingListPositionIngredient">Shopping List Position Ingredient</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shoppingListPositionUnit.name"><span jhiTranslate="foodplanerApp.shoppingListPosition.shoppingListPositionUnit">Shopping List Position Unit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shoppingList.date"><span jhiTranslate="foodplanerApp.shoppingListPosition.shoppingList">Shopping List</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let shoppingListPosition of shoppingListPositions ;trackBy: trackId">
                    <td><a [routerLink]="['/shopping-list-position', shoppingListPosition.id, 'view']">{{ shoppingListPosition.id }}</a></td>
                    <td>{{ shoppingListPosition.quantity }}</td>
                    <td>
                        <div *ngIf="shoppingListPosition.shoppingListPositionIngredient">
                            <a [routerLink]="['/ingredient', shoppingListPosition.shoppingListPositionIngredient?.id, 'view']" >{{ shoppingListPosition.shoppingListPositionIngredient?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shoppingListPosition.shoppingListPositionUnit">
                            <a [routerLink]="['/unit', shoppingListPosition.shoppingListPositionUnit?.id, 'view']" >{{ shoppingListPosition.shoppingListPositionUnit?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shoppingListPosition.shoppingList">
                            <a [routerLink]="['/shopping-list', shoppingListPosition.shoppingList?.id, 'view']" >{{ shoppingListPosition.shoppingList?.date | date:'mediumDate' }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shopping-list-position', shoppingListPosition.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shopping-list-position', shoppingListPosition.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shoppingListPosition)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
