<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="schedule">
            <h2><span jhiTranslate="foodplanerApp.schedule.detail.title">Schedule</span> {{ schedule.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="foodplanerApp.schedule.start">Start</span></dt>
                <dd>
                    <span>{{ schedule.start | date:'mediumDate'}}</span>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.schedule.end">End</span></dt>
                <dd>
                    <span>{{ schedule.end | date:'mediumDate'}}</span>
                </dd>
                
                <dt><span jhiTranslate="foodplanerApp.schedule.scheduledMeals">Meals</span></dt>
                <dd>

                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                            <tr ><!-- jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)"

                            <th ... jhiSortBy="name" jhiSortBy="description"  jhiSortBy="recipeGroup.name" <fa-icon icon="sort"></fa-icon>
                            -->
                                <th scope="col"><span jhiTranslate="foodplanerApp.meal.date">Date</span></th>
                                <th scope="col"><span jhiTranslate="foodplanerApp.meal.scheduledMealRecipe">Scheduled Meal Recipe</span></th>
                                <th scope="col"><span jhiTranslate="foodplanerApp.recipe.ratingFlavor">Rating Flavor</span></th>
                                <th scope="col"><span jhiTranslate="foodplanerApp.recipe.ratingHealthy">RatingHealthy</span></th>
                            
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let meal of schedule.scheduledMeals">
                                
                                <td>{{ meal.date | date:'mediumDate' }}</td>
                                <td>{{ meal.scheduledMealRecipe.name}}</td>
                                <td>{{ meal.scheduledMealRecipe.ratingFlavor}}</td>
                                <td>{{ meal.scheduledMealRecipe.ratingHealthy}}</td>
                                
                                <!--
                                <td>{{ meal.mealIngredient.name }}</td>
                                <td>{{ meal.quantity }}</td>
                                <td>
                                    {{ meal.mealUnit.name }}
                                </td>
                                -->
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="submit"
                                                [routerLink]="['/meal', meal.id, 'view']"
                                                class="btn btn-info btn-sm">
                                            <fa-icon icon="eye"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/schedule', schedule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
