<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shoppingList">
            <h2><span jhiTranslate="foodplanerApp.shoppingList.detail.title">Shopping List</span> {{ shoppingList.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="foodplanerApp.shoppingList.date">Date</span></dt>
                <dd>
                    <span>{{ shoppingList.date | date:'mediumDate' }}</span>
                </dd>

                <dt><span jhiTranslate="foodplanerApp.shoppingList.shoppingListPosition">Shopping List Positions</span></dt>
                <dd>

                    <table class="table table-striped" aria-describedby="page-heading">
                        <thead>
                            <tr ><!-- jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)"

                            <th ... jhiSortBy="name" jhiSortBy="description"  jhiSortBy="recipeGroup.name" <fa-icon icon="sort"></fa-icon>
                            -->
                                <th scope="col"><span jhiTranslate="foodplanerApp.shoppingListPosition.quantity">Date</span></th>
                                <th scope="col"><span jhiTranslate="foodplanerApp.shoppingListPosition.shoppingListPositionUnit">Scheduled shoppingListPosition Recipe</span></th>
                                <th scope="col"><span jhiTranslate="foodplanerApp.shoppingListPosition.shoppingListPositionIngredient">Rating Flavor</span></th>
                            
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let shoppingListPosition of shoppingList.shoppingListPositions ">
                                
                                <td>{{ shoppingListPosition.quantity}}</td>
                                <td>{{ shoppingListPosition.shoppingListPositionUnit.name}}</td>
                                <td>{{ shoppingListPosition.shoppingListPositionIngredient.name}}</td>
                                

                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="submit"
                                                [routerLink]="['/shopping-list-position', shoppingListPosition.id, 'view']"
                                                class="btn btn-info btn-sm">
                                            <fa-icon icon="eye"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shopping-list', shoppingList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
