<div>
    <h2 id="page-heading">
        <span jhiTranslate="foodplanerApp.meal.home.title">Meals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meal" [routerLink]="['/meal/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="foodplanerApp.meal.home.createLabel">
            Create a new Meal
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="meals?.length === 0">
        <span jhiTranslate="foodplanerApp.meal.home.notFound">No meals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="meals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="date"><span jhiTranslate="foodplanerApp.meal.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="scheduledMealRecipe.name"><span jhiTranslate="foodplanerApp.meal.scheduledMealRecipe">Scheduled Meal Recipe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="schedule.start"><span jhiTranslate="foodplanerApp.meal.schedule">Schedule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let meal of meals ;trackBy: trackId">
                    <td><a [routerLink]="['/meal', meal.id, 'view']">{{ meal.id }}</a></td>
                    <td>{{ meal.date | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="meal.scheduledMealRecipe">
                            <a [routerLink]="['/recipe', meal.scheduledMealRecipe?.id, 'view']" >{{ meal.scheduledMealRecipe?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="meal.schedule">
                            <a [routerLink]="['/schedule', meal.schedule?.id, 'view']" >{{ meal.schedule?.start | date:'mediumDate' }} - {{ meal.schedule?.end | date:'mediumDate' }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/meal', meal.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/meal', meal.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(meal)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
