<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-meal-heading" jhiTranslate="foodplanerApp.meal.home.createOrEditLabel">Create or edit a Meal</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.meal.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.meal.scheduledMealRecipe" for="field_scheduledMealRecipe">Scheduled Meal Recipe</label>
                    <select class="form-control" id="field_scheduledMealRecipe" name="scheduledMealRecipe" formControlName="scheduledMealRecipe">
                        <option *ngIf="!editForm.get('scheduledMealRecipe')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="recipeOption.id === editForm.get('scheduledMealRecipe')!.value?.id ? editForm.get('scheduledMealRecipe')!.value : recipeOption" *ngFor="let recipeOption of recipes; trackBy: trackById">{{ recipeOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('scheduledMealRecipe')!.invalid && (editForm.get('scheduledMealRecipe')!.dirty || editForm.get('scheduledMealRecipe')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('scheduledMealRecipe')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.meal.schedule" for="field_schedule">Schedule</label>
                    <select class="form-control" id="field_schedule" name="schedule" formControlName="schedule">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="scheduleOption.id === editForm.get('schedule')!.value?.id ? editForm.get('schedule')!.value : scheduleOption" *ngFor="let scheduleOption of schedules; trackBy: trackById">{{ scheduleOption.start }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
