<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="meal">
            <h2><span jhiTranslate="foodplanerApp.meal.detail.title">Meal</span> {{ meal.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="foodplanerApp.meal.date">Date</span></dt>
                <dd>
                    <span>{{ meal.date }}</span>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.meal.scheduledMealRecipe">Scheduled Meal Recipe</span></dt>
                <dd>
                    <div *ngIf="meal.scheduledMealRecipe">
                        <a [routerLink]="['/recipe', meal.scheduledMealRecipe?.id, 'view']">{{ meal.scheduledMealRecipe?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.meal.schedule">Schedule</span></dt>
                <dd>
                    <div *ngIf="meal.schedule">
                        <a [routerLink]="['/schedule', meal.schedule?.id, 'view']">{{ meal.schedule?.start | date:'mediumDate' }} - {{ meal.schedule?.end | date:'mediumDate' }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/meal', meal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
