<div>
    <h2 id="page-heading">
        <span jhiTranslate="foodplanerApp.recipeGroup.home.title">Recipe Groups</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recipe-group" [routerLink]="['/recipe-group/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="foodplanerApp.recipeGroup.home.createLabel">
            Create a new Recipe Group
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="recipeGroups?.length === 0">
        <span jhiTranslate="foodplanerApp.recipeGroup.home.notFound">No recipeGroups found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="recipeGroups?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="foodplanerApp.recipeGroup.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let recipeGroup of recipeGroups ;trackBy: trackId">
                    <td><a [routerLink]="['/recipe-group', recipeGroup.id, 'view']">{{ recipeGroup.id }}</a></td>
                    <td>{{ recipeGroup.name }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/recipe-group', recipeGroup.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/recipe-group', recipeGroup.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(recipeGroup)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
