<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-recipe-ingredient-heading" jhiTranslate="foodplanerApp.recipeIngredient.home.createOrEditLabel">Create or edit a Recipe Ingredient</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.recipeIngredient.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                    <div *ngIf="editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantity')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quantity')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.recipeIngredient.recipeIngredientUnit" for="field_recipeIngredientUnit">Recipe Ingredient Unit</label>
                    <select class="form-control" id="field_recipeIngredientUnit" name="recipeIngredientUnit" formControlName="recipeIngredientUnit">
                        <option *ngIf="!editForm.get('recipeIngredientUnit')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="unitOption.id === editForm.get('recipeIngredientUnit')!.value?.id ? editForm.get('recipeIngredientUnit')!.value : unitOption" *ngFor="let unitOption of units; trackBy: trackById">{{ unitOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('recipeIngredientUnit')!.invalid && (editForm.get('recipeIngredientUnit')!.dirty || editForm.get('recipeIngredientUnit')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('recipeIngredientUnit')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.recipeIngredient.recipeIngredientIngredient" for="field_recipeIngredientIngredient">Recipe Ingredient Ingredient</label>
                    <select class="form-control" id="field_recipeIngredientIngredient" name="recipeIngredientIngredient" formControlName="recipeIngredientIngredient">
                        <option *ngIf="!editForm.get('recipeIngredientIngredient')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="ingredientOption.id === editForm.get('recipeIngredientIngredient')!.value?.id ? editForm.get('recipeIngredientIngredient')!.value : ingredientOption" *ngFor="let ingredientOption of ingredients; trackBy: trackById">{{ ingredientOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('recipeIngredientIngredient')!.invalid && (editForm.get('recipeIngredientIngredient')!.dirty || editForm.get('recipeIngredientIngredient')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('recipeIngredientIngredient')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="foodplanerApp.recipeIngredient.recipe" for="field_recipe">Recipe</label>
                    <select class="form-control" id="field_recipe" name="recipe" formControlName="recipe">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="recipeOption.id === editForm.get('recipe')!.value?.id ? editForm.get('recipe')!.value : recipeOption" *ngFor="let recipeOption of recipes; trackBy: trackById">{{ recipeOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
