<div>
    <h2 id="page-heading">
        <span jhiTranslate="foodplanerApp.recipeIngredient.home.title">Recipe Ingredients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recipe-ingredient" [routerLink]="['/recipe-ingredient/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="foodplanerApp.recipeIngredient.home.createLabel">
            Create a new Recipe Ingredient
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="recipeIngredients?.length === 0">
        <span jhiTranslate="foodplanerApp.recipeIngredient.home.notFound">No recipeIngredients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="recipeIngredients?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="foodplanerApp.recipeIngredient.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recipeIngredientUnit.name"><span jhiTranslate="foodplanerApp.recipeIngredient.recipeIngredientUnit">Recipe Ingredient Unit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recipeIngredientIngredient.name"><span jhiTranslate="foodplanerApp.recipeIngredient.recipeIngredientIngredient">Recipe Ingredient Ingredient</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recipe.name"><span jhiTranslate="foodplanerApp.recipeIngredient.recipe">Recipe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let recipeIngredient of recipeIngredients ;trackBy: trackId">
                    <td><a [routerLink]="['/recipe-ingredient', recipeIngredient.id, 'view']">{{ recipeIngredient.id }}</a></td>
                    <td>{{ recipeIngredient.quantity }}</td>
                    <td>
                        <div *ngIf="recipeIngredient.recipeIngredientUnit">
                            <a [routerLink]="['/unit', recipeIngredient.recipeIngredientUnit?.id, 'view']" >{{ recipeIngredient.recipeIngredientUnit?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="recipeIngredient.recipeIngredientIngredient">
                            <a [routerLink]="['/ingredient', recipeIngredient.recipeIngredientIngredient?.id, 'view']" >{{ recipeIngredient.recipeIngredientIngredient?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="recipeIngredient.recipe">
                            <a [routerLink]="['/recipe', recipeIngredient.recipe?.id, 'view']" >{{ recipeIngredient.recipe?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/recipe-ingredient', recipeIngredient.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/recipe-ingredient', recipeIngredient.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(recipeIngredient)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
