<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recipeIngredient">
            <h2><span jhiTranslate="foodplanerApp.recipeIngredient.detail.title">Recipe Ingredient</span> {{ recipeIngredient.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="foodplanerApp.recipeIngredient.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ recipeIngredient.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.recipeIngredient.recipeIngredientUnit">Recipe Ingredient Unit</span></dt>
                <dd>
                    <div *ngIf="recipeIngredient.recipeIngredientUnit">
                        <a [routerLink]="['/unit', recipeIngredient.recipeIngredientUnit?.id, 'view']">{{ recipeIngredient.recipeIngredientUnit?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.recipeIngredient.recipeIngredientIngredient">Recipe Ingredient Ingredient</span></dt>
                <dd>
                    <div *ngIf="recipeIngredient.recipeIngredientIngredient">
                        <a [routerLink]="['/ingredient', recipeIngredient.recipeIngredientIngredient?.id, 'view']">{{ recipeIngredient.recipeIngredientIngredient?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="foodplanerApp.recipeIngredient.recipe">Recipe</span></dt>
                <dd>
                    <div *ngIf="recipeIngredient.recipe">
                        <a [routerLink]="['/recipe', recipeIngredient.recipe?.id, 'view']">{{ recipeIngredient.recipe?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recipe-ingredient', recipeIngredient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
